{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wire Explorer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/bee.css' %}" />
  </head>

  <body>
    <div class="container-fluid">
      <div id="gui" style="position: absolute; top: 5px; left: 12px"></div>
      <div class='row no-gutters mt-1'>
          <div class='col-8'>
              <div id="canvas" style="height:800px; border: 1px solid green;"></div>
          </div>
          <div class="col-4" id="vue"> 
            
            <div class="input-group mt-3">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ exp }}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'wires' 'protodunevd' %}">protodunevd</a></li>
                  <li><a class="dropdown-item" href="{% url 'wires' 'protodune' %}">protodune</a></li>
                  {% comment %} <li><hr class="dropdown-divider"></li> {% endcomment %}
                  <li><a class="dropdown-item" href="{% url 'wires' 'uboone' %}">uboone</a></li>
                  <li><a class="dropdown-item" href="{% url 'wires' 'icarus' %}">icarus</a></li>
                </ul>
              </div>
              <input type="text" class="form-control" placeholder="data url" v-model="url_image3d">
              <button class="btn btn-primary" type="button" @click="drawImage3D">Load 3D image</button>
            </div>



            <table class="table caption-top">
              <caption>Plane: [[ planeId ]] | Wire Range: [[wireFirst]] - [[wireLast]]</caption>
              <tbody>
                <tr>
                  <th scope="row">Anode</th>
                  <td>
                    {% for x in anodes %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" v-model="anode"  value="{{ forloop.counter0 }}">
                      <label class="form-check-label">{{ x.Anode.ident }}</label>
                    </div>
                    {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Face</th>
                  <td>
                    {% for x in faces %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" v-model="face" value="{{ x }}">
                      <label class="form-check-label">{{ x }}</label>
                    </div>
                    {% endfor %}
                  </td>
                </tr>
                <tr>
                  <th scope="row">Plane</th>
                  <td>
                    {% for x in planes %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" v-model="plane" value="{{ x }}">
                      <label class="form-check-label">{{ x }}</label>
                    </div>
                    {% endfor %}
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="input-group mt-3">
              <button class="btn btn-primary" type="button" @click="drawWire">Draw wire (0 - [[ nWire-1 ]])</button>
              <input type="number" class="form-control" v-model.number="wireId">
            </div>
            <div class="card">
              <div class="card-body">
                <p class="card-text" >Channel: [[ wireChannel ]] <br /> Head (mm): [[ headLoc ]] <br/> Tail (mm): [[ tailLoc ]]</p>
              </div>
            </div>

            <div class="input-group">
              <button class="btn btn-primary" type="button" @click="drawChannel">Draw channel (0 - [[ nChannel-1 ]])</button>
              <input type="number" class="form-control" v-model.number="chId">
            </div>
            <div class="card">
              <div class="card-body">
                <p class="card-text" >Wires: [[ chWires ]] </p>
              </div>
            </div>

            <div class="input-group mt-3">
              <button class="btn btn-primary" type="button" @click="drawWireList">Draw from wire list</button>
              <input type="text" class="form-control" v-model.lazy="wireList">
            </div>
            <div class="card">
              <div class="card-body">
                <p class="card-text">Separate wires by comma (,). This can be combined with the range syntax similar to python array slicing (start:stop:step)</p>
                <p class="card-text">Example: 2, 3, 5:8, 10:100:10</p>
              </div>
            </div>
            <div class="input-group">
              <button class="btn btn-primary" type="button" @click="drawChList">Draw from channel list</button>
              <input type="text" class="form-control" v-model.lazy="chList">
            </div>
            
          </div>
      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
    <script type="text/javascript" src="{% static 'js/lib/dat.gui.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.145.0/three.min.js"></script>
    <script type="text/javascript" src="{% static 'js/lib/OrbitControls.v2.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.45/vue.global.prod.min.js"></script>
    {% comment %} <script type="text/javascript" src="{% static 'js/bee/dist/wires.js' %}"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'js/bee/dist/wires-vue.js' %}"></script>

  </body>

</html>