{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Decay List: {{ primary }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="{% static 'css/bee.css' %}" /> -->
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Decay List: {{name}} ({{ pdg }})</h1>
      </header>

      <div class='row'>
        <div class='col-12'>
          <table class="table table-striped table-bordered table-hover" id="table">
            <thead>
              <th>Braching Ratio</th>
              <th>Decay</th>
            </thead>
            {% for decay in decays %}
            <tr>
              <td>{{ decay.br }}</td>
              <td>{{ decay.formula }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>

      </div>

    </div>
  </body>

</html>