/* app css stylesheet */
/*body {margin: 20px;}*/

/*h1 {font-family: 'Abril Fatface', sans-serif; color: #3b8378;}*/

/* a {color: #27ABE4; font-weight: bold;} */
.event_type {color: #02ab2e; }
a.NA {color: #999; }

#dropzone {
  border: 2px dotted;
  border-radius: 10px;
  padding: 2px;
  width: 160px;
  float: right;
  font-size: 24px;
}

#dropzone .dz-message {
    margin: 1.2em 0;
    line-height: 1.2em;
}

.obit-controls-gizmo {
  position: absolute;
  left: 15px;
  top: 680px;
  z-index: 1000;
  background-color: rgba(172, 169, 169, 0.1);
  border-radius: 100%;
  transition: background-color .15s  linear;
  cursor: pointer;
}

.obit-controls-gizmo.dragging, 
.obit-controls-gizmo:hover {
    background-color: rgba(172, 169, 169, 0.2);
}

.obit-controls-gizmo.inactive {
    pointer-events: none;
    background-color: rgba(172, 169, 169, 0.2)  !important;
}
